* {
    outline: 1px solid tomato;
}

.inner {
    width: 1170px;
    margin: 0 auto;
}

.Header {
    h1 {
        display: flex;
        img {
        }
    }

    nav {
        ul {
            li {}
        }
    }
}